/* src/components/Home.css */
.home {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .home-content {
    text-align: center;
  }

  .home-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }

  .home-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .contact-info {
    margin-top: 20px;
  }

  .contact-info p {
    margin: 5px 0;
  }

  .profile-image {
    width: 200px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    border-radius: 50%; /* Makes it a circle */
    margin-bottom: 20px;
  }